[2014-02-25 01:17] tyarkoni opened #9 "Write tests with full coverage of code"
It would not be a terrible idea to add tests that actually work at some point in the near future.

[2014-03-03 03:47] eruditescholar opened #14 "use fixture model for proper unit testing of db."
Everything uses the db right now and is what's preventing true unit testing. Fixture says it can replace sqlalchemy engine. This still means we're using flask-sqlalchemy, but I think a wrapper can effectively fix that =).

[2015-01-27 02:04] tyarkoni opened #25 "Add database models for Analysis and Inclusion (2)"
In preparation for having the server keep track of analyses, the back-end will need to be modified to keep a record of every analysis a user runs on the platform. All analysis-related models should be housed in models/analyses.py. We will need to extend/implement two classes:

* An Analysis model that represents a single analysis, including all metadata describing the analysis. There is a rudiment

[2015-01-27 02:07] tyarkoni opened #26 "Verify and extend user authentication system (3)"
We'll need user authentication working properly to make the study selection interface work properly. A lot of the work should already be done by the Flask-User plugin, but since things have changed since it was last enabled, I'm not sure that it works any more.

Note that while there is no separate controller for authentication, in principle, there should be decorators available to handle common t

[2015-01-27 02:21] tyarkoni opened #27 "Connect client-side and server-side analysis code (4)"
Once the client-side interface, DB models, and user authentication are in place, we need to get them talking to each other. There is some provisional and untested code in controllers/analyze.py, but it can be largely ignored for now, as it pertains to running analyses and retrieving the results rather than tracking the associated studies. At this point our goal should be solely to maintain a unifi

[2015-01-27 02:27] tyarkoni opened #28 "Execute analysis and generate results (5)"
Once the preceding tasks are done, I'll make sure that the analysis runs properly and generates results in the same format as the existing Features. When the run() method in controllers/analyze.py is called, the following steps will happen:
1. The IDs of all studies in the currently active Analysis are retrieved;
2. The MetaAnalysis class in neurosynth.meta is called and passed the selected IDs, a

[2015-01-27 02:29] tyarkoni opened #29 "Create analysis management page (6)"
Create a new page at neurosynth.org/analyses that allows the currently logged in user to view and manage all of their existing analyses.

[2015-01-31 01:32] skept opened #30 "Have 'Select All' include all matching studies, not just the current page"
For production, it would be better to make the "select all" buttons affect all studies in the table, rather than only the studies currently visible on the page. Otherwise for tables with hundreds of studies, the user is going to have to page forward repeatedly to select all, and it will also be easier to make a mistake. But I'm not sure it's worth taking this on right now, because it will require

[2015-02-11 02:09] tyarkoni opened #34 "decoder displays some NeuroVault images incorrectly"
As noted by @nicholst, some NeuroVault images don't display properly when loaded into the Neurosynth decoder (e.g., http://neurosynth.org/decode/?neurovault=1750), most likely because of invalid values introduced when resampling non-standard images to MNI152 space. This can probably be fixed by removing NaNs before writing the resampled image.

[2015-02-13 00:33] skept commented on #25
@tyarkoni What does the frequency field in the Frequency model represent?

I'm still getting up to speed on SQLAlchemy. I'm getting the below error when I try to create a new CustomAnalysis model. Any ideas? I'm looking into it myself but you can probably figure it out much quicker:

[code]

[2015-02-13 00:52] tyarkoni commented on #25
The frequency field stores weights or loadings--effectively the strength of association between analyses and studies. For CustomAnalyses, it won't mean anything (at least initially), so it should just be set to 1.

The error might be caused by failure to import the Study model? If not, paste the full model code in the gist.

Note that there should already have been a working CustomAnalysis model i

[2015-02-13 01:01] skept commented on #25
Ok, added models/analyses.py to the gist.

[2015-02-13 01:44] tyarkoni commented on #25
Oh, hah--I'm missing import statements in some of the models. I guess it's never raised an exception before because I only ever instantiate or call the models in contexts where the appropriate models are already explicitly imported (e.g., in the database_builder script). For now you can just import all of the models to be safe (take all the import nsweb.model.* statements from the database_builder

[2015-02-13 01:54] tyarkoni commented on #25
Actually, if I add import statements in the model files, I get circular imports (and I now recall that I explicitly removed the import statements to avoid this). I think the best way out of this is actually to import all of the models at one shot within in the app. I was trying to maintain strict modularity, but there's really no good reason for that here. For now, just use the import statements i

[2015-02-13 03:00] skept commented on #25
Ok, I still haven't got it to work from the external shell but I'll look into it later. It's working fine from inside the controller module and I can debug by setting breakpoints. I don't think we have a bug here, so you can ignore this, at least for now. Thanks for looking into it.

[2015-02-25 15:06] tyarkoni opened #35 "locations page produces nasty datatables error for invalid coordinates"
When the user selects an invalid coordinate (i.e., a location with no data), DataTables issues a nasty pop-up alert. Make this fail gracefully--preferably with an informative error in the table like "no data available".

[2015-02-27 01:28] tyarkoni opened #36 "reported viewer bug when decoding images"
Per https://github.com/neurosynth/neurosynth/issues/49, @ljchang reported a viewer bug when decoding images. I can't replicate this, so will leave open and unassigned until it can be reproduced reliably.

[2015-03-01 18:03] skept commented on #29
I'm already taking care of this for custom analyses (see /analyses/custom/). Do we want term and topic analyses to also be saved and displayed in the same way? Technically that's already possible although the usability could be improved - the user would have to select all studies in a term/topic analysis and then go to /analyses/custom and save it.

[2015-03-03 22:02] #25 closed

[2015-03-04 05:15] tyarkoni opened #37 "React custom analysis code interferes with viewer"
I just pushed some code to the analysis branch that runs a custom meta-analysis and redirects to the results page. This works fine if all of the JS code for custom analyses is disabled (e.g., by commenting out custom_analyses.coffee.js in the webassets pipeline), but when the custom analysis code is enabled, none of the viewers work. As far as I can tell the issue seems to be that the app.init() c

[2015-03-04 06:11] #14 closed

[2015-03-08 20:35] tyarkoni opened #38 "Add a "News" page"
The site used to list recent updates on the front page; we should add one again.

[2015-03-08 20:38] tyarkoni opened #39 ""Explore" interface for viewing any image"
Restore the "Explore" functionality that used to allow users to load multiple images in the DB simultaneously.

[2015-03-08 20:39] tyarkoni opened #40 "Add FAQ to decoder page"
The Decoder page needs a FAQ tab like the other pages that explains the basic methods/functionality.

[2015-03-08 20:39] tyarkoni opened #41 "Add blog"
Add a blog or blog-like interface that allows extended posting about new features, updates, demos, etc.

[2015-03-08 20:41] tyarkoni opened #42 "Add explanatory text to term list"
The term analysis index (http://neurosynth.org/analyses/terms/) could use a few lines of explanation.

[2015-03-08 20:43] tyarkoni opened #43 "Dockerize"
The provisional Dockerfile in https://github.com/neurosynth/neurosynth-web/blob/master/docker/Dockerfile needs to be updated and tested. Should also write better instructions for installing a working dev environment via Docker.

[2015-03-08 20:44] tyarkoni opened #44 "Update code page to include this repo"
The Code page needs to add a link to and description of this repository.

[2015-03-08 20:46] tyarkoni opened #45 "Add index page for genes"
There's currently no content at /genes. Need to figure out and add a sensible/informative index page--at minimum, a DataTables table listing and linking to all ~20k genes.

[2015-03-08 20:50] vsoch commented on #41
You know what is a crazy idea? Each blog entry should have a DOI!  :cat2:

[2015-03-08 20:51] tyarkoni opened #46 "Enable selection of decoding reference set"
At the moment the back-end and API support decoding against different set of images (terms, topics, genes, etc.). The front-end interface needs to be modified to support this--probably with some restrictions to ensure the app remains performant (e.g., disable whole-brain decoding for all 3k images for non-registered users, as this takes ~30 seconds per image).

[2015-03-08 20:53] tyarkoni opened #47 "Add brainspell integration to /studies"
Per discussion with @r03ert0, add a tab on each study's page displaying the current brainspell representation of the study. Also add a link to brainspell encouraging users to edit/annotate studies that have QC issues.

[2015-03-08 20:54] tyarkoni commented on #41
+1!

[2015-03-08 21:03] r03ert0 commented on #47
cool !!! :D

On Sun, Mar 8, 2015 at 9:53 PM, Tal Yarkoni <notifications@github.com>
wrote:

[2015-03-08 21:04] tyarkoni opened #48 "Allow user to select masking approach when decoding"
Currently the decoder uses the whole-brain MNI mask to compute correlations between target images and Neurosynth maps. This contrasts with the NeuroVault approach, where NaN or zero-valued voxels are first discarded pairwise. For the sake of consistency we should probably make the NeuroVault approach the default, but provide the user with the option to do it either way (or perhaps even compute bot

[2015-03-08 21:07] tyarkoni opened #49 "Clean up API"
Over time, different bits of the API have ended up being distributed fairly arbitrarily in different locations--in some cases, in files in the main controller directory, and in other cases, in the /api subdirectory under controllers. This needs to be rethought: we should either keep API routes in a separate place, and move stuff out of the main controller modules, or do the opposite and integrate

[2015-03-10 23:09] #35 closed

[2015-03-23 20:16] tyarkoni opened #50 "allow unthresholded image download"
Currently there's no way to download unthresholded forward and reverse inference z-maps. We should add the facility to retrieve unthresholded maps for the special case where the requested image is a meta-analysis map in a format we understand (i.e., with a filename like *pAgF_z_FDR...). Probably the easiest way to handle this right now is to add an 'unthresholded_filename' attribute to the Analysi

[2015-03-23 20:30] vsoch commented on #50
:+1:

yes yes yes this is very good! :L)

[2015-03-24 00:07] tyarkoni commented on #50
Added  in 40578ca80cd03fbfe12a. Default (i.e., FDR-corrected images) can now be downloaded like so:

http://neurosynth.org/analyses/terms/emotion/images/reverse

And unthresholded variants can be requested like so (if available):

http://neurosynth.org/analyses/terms/emotion/images/reverse?unthresholded

[2015-03-24 00:07] #50 closed

[2015-03-27 19:55] tyarkoni opened #51 "decoder breaking for some NeuroVault images"
e.g., http://neurovault.org/images/3391/

[2015-03-27 21:54] ajshackman commented on #51
These are ALE maps generated by Brainmap Sleuth....
On Mar 27, 2015 3:55 PM, "Tal Yarkoni" <notifications@github.com> wrote:

[2015-03-29 22:56] skept commented on #37
@tyarkoni Can you point me to your code? Which page do you run the custom meta-analysis from?

[2015-03-31 23:16] tyarkoni commented on #37
See 585134c6e6d5a1. But I'm 99% sure the problem isn't with the code I committed when I opened this issue, it's that there's some conflict between something your React code is doing and my viewer code (which lives in js/nsviewer). Or rather, I suspect that probably the failure to find elements the React analysis code is looking for causes an exception, and then the JS engine never makes it to the

[2015-03-31 23:17] tyarkoni commented on #37
Oh, and the problem occurs on every page where the viewer is loaded, independently of whether I'm trying to run a custom analysis or not (e.g., if you go to neurosynth/terms/emotion, the images never load under the analyses branch).

[2015-04-08 17:07] tyarkoni commented on #37
I figured it out. It turns out that the xtk.js library, which I use to load the images, defines a function called ce(). In your custom_analysis code, you're assigning React.createElement to var ce for convenience, which then causes everything to break when xtk tries to load the images.

Since I don't want to tamper with the xtk library, could you rename ce to something else? Actually, probably eve

[2015-04-08 17:16] tyarkoni commented on #37
Just made those changes. Closing this.

[2015-04-08 17:24] tyarkoni opened #52 "remove password format restrictions"
For user authentication, let's remove all of the uppercase/lowercase/number restrictions on passwords. This is a low-risk application and most people will probably stay logged in and/or use their most basic password, so we don't want to make it harder than it needs to be.

[2015-04-08 17:26] tyarkoni opened #53 "direct user to register on custom analyses front page"
Currently if a user hits /custom/analyses in the analyses branch and isn't logged in, no indication is provided that they need to log in to unlock the custom analysis functionality. Let's add a custom message to that effect.

[2015-04-08 17:36] tyarkoni opened #54 ""discard current selection" button clears everything"
On the custom analysis page, when the user clicks the "discard current selection" button, the whole selection interface disappears, and the user has to navigate to a different page and select at least one study to make it reappear. We probably want to keep the study selection interface in place and just clear the "selected studies" table.

[2015-04-08 17:38] tyarkoni opened #55 "progress indicator of some kind when saving custom analyses to DB"
When the user clicks "Save" to create a new custom analysis, there's a delay while data is send to the server, and this can take a few seconds. There should be some kind of progress indicator, or at least the interface should be temporarily disabled, so that the user realizes something is going on and doesn't click again or navigate away.

[2015-04-08 17:56] tyarkoni opened #56 ""select all" and "deselect all" buttons appear to be broken"
The select and select all buttons that show up on datatables throughout the site don't seem to be working. The "select filtered" buttons in the interface on the analyses/custom page does work, however. It's possible this is something I broke in fixing the xtk conflict or merging from master (if so, sorry!).

[2015-04-08 18:06] tyarkoni opened #57 "Connect "run" button to right url"
At this point I think the "run" custom analysis button can be connected to the back-end. All the button has to do is load this URL:

/analyses/custom/run/{uuid}

...which will run the meta-analysis (or not, if it's already been run) and then redirect to the analysis viewer page.

[2015-04-08 18:08] tyarkoni opened #58 "Add description text field to custom analysis interface"
The Analysis model already contains a "description" field for free text. The interface for saving/editing custom analyses should have a textarea input that allows the user to edit a description of the analysis.

[2015-04-08 18:13] tyarkoni opened #59 "Load analysis button should be enabled as soon as user makes any change to study list"
Say a user loads an existing analysis, but then edits the list of studies. At that point, the "load" button should be re-enabled for the currently loaded analysis, because the user may want to revert to the original list of studies. Actually, I think the Load button can probably always be enabled; I'm not sure there's a reason to disable it. What should probably happen though is that if the user c

[2015-04-09 23:09] skept commented on #58
Done.

[2015-04-09 23:09] #58 closed

[2015-04-10 20:43] skept commented on #59
That makes sense. I made it so the Load button remains enabled at all times. If there are unsaved changes the user is warned via an alert dialog when trying to load the same or another study.

[2015-04-10 20:43] #59 closed

[2015-04-10 21:13] skept commented on #57
I'm running redis-server on my laptop but visiting /analyses/custom/run/<uid> doesn't just sends the server spinning forever without returning any response. I'm new to Redis. Any idea what's going on?

[2015-04-10 21:29] skept commented on #56
That was bug in my code. Fixed it.

[2015-04-10 21:29] #56 closed

[2015-04-10 21:51] skept commented on #54
@tyarkoni I think I picked a poor name for that button. What I meant for it to do is to discard the current headless (i.e. never saved to the server - only in the local storage) analysis from the local storage. That way when you visit the custom analysis page you don't see anything previously loaded. Your suggestion of keeping the study selection interface makes sense. Thinking about it more, curr

[2015-04-10 22:02] tyarkoni commented on #57
It's probably a celery issue. I haven't documented the celery configuration anywhere, and the workers need to be pointed to the right place. I suggest skipping this for now (or just implement the link, and I'll test it out later), and I'll work on this later if I have a chance.

[2015-04-10 22:04] tyarkoni commented on #54
Yep, that sounds like the way to go. Upon first loading the page, I think we should check to see if an analysis exists, and if not, create a blank one (which I presume will trigger the interface loading). Then the discard button can just replace whatever the current analysis is with a new blank one and achieve the same thing.

[2015-04-10 22:07] skept commented on #54
Took care of this as discussed above.

[2015-04-10 22:07] #54 closed

[2015-04-10 22:11] skept commented on #57
You're right. I wasn't running celery. Ok, I'll skip this for now. I have celery installed. If you know the command to run the celery server send it to me and I'll try it out.

[2015-04-10 22:22] skept commented on #30
@tyarkoni I'm done implementing this on the custom analysis page. I fetch a copy of all studies from the server and give the user the option to select either all studies or all currently filtered studies (i.e. filtered via the datatable search box). The custom analysis effectively does everything the Studies page does, with the exception that it requires the user to be logged in. Longer term it ma

[2015-04-10 22:22] #30 closed

[2015-04-11 19:50] tyarkoni commented on #45
Added in #60

[2015-04-11 19:50] #45 closed

[2015-04-15 22:49] #55 closed

[2015-04-15 23:00] #53 closed

[2015-04-15 23:13] skept commented on #29
Closing this. See /analyses/custom/. Feel free to open new tickets if there's any functionality you think is missing from this page.

[2015-04-15 23:13] #29 closed

[2015-04-15 23:18] tyarkoni commented on #29
Will do, thanks! I'm reviewing it now and will probably open a few more, but obviously don't worry about getting to them before we meet.

[2015-04-15 23:25] tyarkoni opened #61 "replace "no analyses" message on custom page load with something more accurate"
When a user first visits /analyses/custom while logged in, they initially see a message saying that "you have no saved custom analyses". Once the interface loads, it goes away, but that can take a while given the amount of data being sent. Let's replace the current message with something like "Loading interface..."

Actually, if it's a small tweak, it would be even better to do the data loading af

[2015-04-15 23:48] tyarkoni commented on #37
Reopening this because somehow the ce assignment that mucked things up reappeared in c785960a6739c3 in custom_analyses.coffee.js. Probably a merge conflict. @skept, I'll push a fix, but make sure to merge it before you do anything else.

[2015-04-15 23:50] #37 closed

[2015-04-15 23:56] tyarkoni opened #62 "rename uuid to "analysis id" in interface"
Instead of "uuid", users should see "Analysis ID" everywhere in the interface. We don't need to change any of the internals, just what the client sees.

[2015-04-16 00:03] tyarkoni opened #63 "Hide selection interface on datatables by default"
Not sure what the best way to handle this is, so let's talk about it before you change anything, but I think we should either (a) only show the selection interface to logged-in users (to avoid confusing people who don't know what they're selecting when they first encounter it), or (b) disable the interface until the user chooses to turn it on (via a switch on the custom analyses page, or maybe we

[2015-04-16 00:38] #52 closed

[2015-04-16 13:54] #62 closed

[2015-04-16 13:59] skept commented on #63
I like option (a) because it's simpler. We can also add copy somewhere around any selectable table explaining that selections can be saved/edited on the custom analyses page.

[2015-04-16 14:03] skept opened #64 "Cache study details to speed up the load time of the custom analyses page"

[2015-04-16 14:43] skept commented on #61
Took care of the copy update. I also made it so most of the interface (including the list of saved analyses) is loaded before I fetch the study details from the server. The page now loads much faster, although it still takes a couple of seconds before the study tables get populated. Fetching the list of all study details from the server is by far the slowest part. I opened a separate ticket to imp

[2015-04-16 14:43] #61 closed

[2015-04-16 15:49] skept opened #65 "Track currently active custom analysis via unique URL"
Currently on the custom analyses page the URL doesn't specify which analysis is currently loaded. Tracking the currently active analysis using some kind of URL fragment would allow the user to easily get back to it and also share it with others.

[2015-04-16 15:56] tyarkoni commented on #65
Good idea! Would updating the URL hash with the uuid whenever the load or save buttons are pushed cover it?

[2015-04-16 16:01] tyarkoni commented on #63
Okay, let's go with (a) then. I do think down the line I'll probably want to add a global settings interface anyway, because there are already some other site-wide things that could stand to be consolidated in one place as user-level settings. But that's overkill for now. I also like the idea of adding some information to the existing interface

 Another option would be to have a simple hide/show

[2015-04-16 16:33] skept commented on #65
Yes, that covers part of it. The other part is to for the frontend code to parse the URL when it initializes and load the corresponding study. This part gets a little more complicated when the analysis specified by the URL hash is owned by another user.

[2015-04-16 16:38] skept opened #66 "Poor responsiveness when editing description field of saved custom analysis"

[2015-04-16 17:14] tyarkoni commented on #65
Ah, got it. Along those lines, we should probably talk about implementing permissions of some kind. Right now custom analyses aren't discoverable, so the odds of anyone stumbling onto a valid uuid are pretty much zero. But I would like to eventually allow searching by name/description/included studies/image content, and that will require some kind of privacy setting. But that can be something for

[2015-04-16 17:27] tyarkoni opened #67 "Implement permissions for custom analyses"
At the moment, all custom meta-analyses are both private and public. They're private in the sense that users can't access other users' analyses via the /custom interface (is that correct, @skept?), but they're public in that once a meta-analysis has been run, the results can be viewed by anyone so long as the uuid of the analysis is known.

Right now this is a reasonable approach, because the uuid

[2015-04-16 17:37] tyarkoni opened #68 "Add expression-based study search"
The Neurosynth core tools currently implement a PEG that allow users to search for studies using arbitrarily complex logical queries (e.g., "reward* &~ (emot* | negative)" would search for all studies that are related to reward but not emotion or negative stuff). We should add a field to the study editing interface that interfaces with the back-end to retrieve studies.

At least initially, this wi

[2015-04-16 19:29] tyarkoni opened #69 "Add created_at and updated_at fields to base Analysis instead of CustomAnalysis"

[2015-04-16 19:31] tyarkoni opened #70 "Update custom analysis results page"
The custom analysis results page should show the owner, creation date, and description, as well as a "clone this analysis" button linking to the editing interface in the user's own account.

[2015-04-16 19:47] tyarkoni opened #71 "Add feedback box in footer or header"
Add a box or integrate some third-party service that makes it easier to send feedback.

[2015-04-16 19:48] tyarkoni opened #72 "Individual study display broken in development"
In the current dev build, activations and features aren't displayed.

[2015-04-16 20:00] #57 closed

[2015-04-16 20:00] #28 closed

[2015-04-17 04:00] #66 closed

[2015-04-17 04:55] tyarkoni commented on #72
Fixed in 234a51cc725e8195465efdb46e, pending merge.

[2015-04-17 04:55] #72 closed

[2015-04-17 05:22] #69 closed

[2015-04-17 06:07] #27 closed

[2015-04-18 01:58] tyarkoni opened #73 "URL decoding doesn't work"
API decoding by URL (e.g., http://neurosynth.org/api/v2/decode?url=http://www.mysite/mygreatimage.nii.gz) is currently broken.

[2015-04-18 02:07] #73 closed

[2015-04-18 15:06] tyarkoni opened #74 "Round locations to nearest valid coordinate"
The UI will automatically round locations to the nearest valid MNI coordinate, but the API does not, so users can, e.g., request the URL http://neurosynth.org/locations/42.3_-1117_0/ and bad things will happen. We need to round when possible, and fail more gracefully otherwise.

[2015-04-18 17:39] #74 closed

[2015-04-20 04:27] tyarkoni commented on #49
There are still some pieces missing, but most of the core models are now exposed via a new API that follows the Swagger spec (see http://neurosynth.org/api/v2), so I'm closing this.

[2015-04-20 04:27] #49 closed

[2015-04-21 04:46] skept commented on #63
@tyarkoni Frustrated by slim parse errors I switched to plain HTML for the /studies page. Hope that's ok. I implemented (a) for the Studies page. Let me know if it looks ok and I'll do the same thing for the tables on the _terms_ and _locations_ pages too.

[2015-04-21 04:55] tyarkoni commented on #63
Sure, that's fine.

Changes look good, but it seems like only the buttons are hidden; the user can still select rows in the table, and they probably won't understand what that means. I think we should disable all selection-related UI elements unless users are logged in. Also, if you're not logged in, right now you get this message at the top of the page:

I think we should remove that, and instead

[2015-04-21 05:16] skept commented on #63
Ok, I fixed those on the Studies page. I'll take care of the other page too.

[2015-04-21 15:48] tyarkoni opened #75 "Tweak buttons on custom analysis interface"
Per discussion last week, let's make some minor tweaks to the buttons on the analysis interface:

* "Clone" should be renamed to "Save As". When clicked it should behave just like the Clone button currently does, except that it should either (a) prompt the user to enter a name for the new analysis, or (b) append "(copy)" to the existing analysis name when it's cloned. Also, I think if you hit Clon

[2015-04-21 15:54] skept commented on #63
@tyarkoni The locations page is quite a bit longer so I've been trying to give slim another chance before giving up and manually converting the whole page to HTML. I'm getting a slim parse error on line 54 and thought it'd be quicker to ask you for help. Can you check out the above commit and visit the /locations/ page? You may want to disable the cache decorator on the controller function to see

[2015-04-21 16:05] tyarkoni commented on #63
Yeah, that issue caused me no end of grief until I figured out what was going on. Basically slimish-jinja doesn't like having empty tags on a single line (here the table tags have attributes, but they don't enclose anything). You just need to prepend those lines with a % and it'll work.

The slimish-jinja README does actually cover all possible situations, as far as I've been able to tell, but the

[2015-04-21 16:06] tyarkoni commented on #63
Just pushed a fix to the analyses branch.

[2015-04-21 16:18] skept commented on #63
Ok, thanks. Yeah, the documentation could definitely be improved. I did spend a good bit of time going through it.

Any idea how to use an inline _if_ statement in slim? I.e. something like:

    table#location_studies_table.table{% if user.is_authenticated() %}selectable-table{% endif %}.table-hover

[2015-04-21 16:20] skept commented on #63
Btw, I use Pycharm which automatically closes HTML tags as you type them. I'm pretty sure there are similar plugins for Sublime.

[2015-04-21 16:26] tyarkoni commented on #63
I think the constraint here is jinja rather than slimish-jinja per se. Haven't tried it, but per an SO post this might work:

{{ 'Update' if files else 'Continue' }}

Yeah, Emmet does that in Sublime Text, though I still find dealing with the tags kind of annoying. But if I were writing this code today, that's probably what I'd do. :)

[2015-04-21 16:52] skept opened #76 "Cached pages don't get updated when user signs in or out"
An example is the locations page. Non signed-in user visits the page and sees the non-signed-in version. After signing in the cached page is still the non-signed-in version.

I'm thinking adding request.current_user.is_authenticated to make_cache_key() may solve this issue. Will give it a try.

[2015-04-21 17:04] #76 closed

[2015-04-21 17:10] skept commented on #63
Ok, I'll give that a try. With jinja and plain HTML this is currently working on the studies page:

    <table class="table table-hover {% if current_user.is_authenticated() %}selectable-table{% endif %}"
                   id="studies_table">

Agree it's not worth porting things over to plain HTML at this point, although it may be hard to resist the temptation next time I hit a cryptic slim parse

[2015-04-21 17:24] #63 closed

[2015-04-23 11:31] skept commented on #75
@tyarkoni I took care of all of the above. I went with the slightly easier option of putting some space between "Delete" and the rest of the buttons. The "Delete" button only shows up on previously saved analyses. If you still prefer I can move it under the load button.

[2015-04-23 11:31] #75 closed

[2015-04-23 18:33] tyarkoni commented on #26
I'm working on adding Flask-Mail support, so don't do anything further on this until I commit (probably later tonight).

[2015-04-24 03:02] tyarkoni commented on #26
Alright, I added email support in 3996109112e67f9d39ea5c48643edfcae52efc9e. Mail settings are obviously not included in the settings_template, but I tested with Mailjet and everything seems to work perfectly. I think all the other items in the list above are already addressed, so I'm closing this.

[2015-04-24 03:02] #26 closed

[2015-04-24 22:29] tyarkoni opened #77 "write documentation for custom analysis interface"
The custom analysis interface seems ready to go; we've closed all the issues in the current milestone. The last thing left to do is write some basic documentation explaining how the UI works and what it can be used to accomplish.

[2015-04-24 22:30] vsoch commented on #77
I can't wait to see this!

[2015-04-24 22:35] tyarkoni opened #78 "Add help option to custom analysis UI"
I'm working on some basic documentation covering the custom analysis interface; this is the last piece before we go live. Can you add a button or tab or something somewhere conspicuous that says "Help" or some such. When clicked, it should probably pop up a browser window that contains a FAQ. The FAQ can probably just re-use or adapt the template I wrote for the site-wide FAQ (see https://github.c

[2015-04-27 21:41] skept commented on #78
@tyarkoni I'm going to take care of this today, unless you've already started working on it.

[2015-04-27 21:47] tyarkoni commented on #78
Nope, haven't touched it yet, so please go ahead.

[2015-04-27 22:28] skept commented on #78
This should be working now. You would just need a file named faq_custom_analyses.json in the same directory as faq.json.

[2015-04-28 18:17] tyarkoni opened #79 "Track time at which custom analyses were last run to prevent unnecessary computation"
To prevent unnecessary re-generation of meta-analysis images every time a user hits the "Run" button (i.e., in cases where the custom analysis hasn't actually changed since the last run), we need to add a last_run_at field to the CustomAnalysis model. Then the run() function in the controller should only re-generate the analysis if last_run_at < updated_at.

[2015-04-28 19:14] tyarkoni opened #80 "fix button position bug on location study table tab"
The "select all" and "deselect all" buttons show up fine on most pages, but on the location tab, they're not aligned properly--presumably because they're floating and interfere with the radius adjustment bar just above. I'm not assigning this to a milestone because it's purely cosmetic and I'm planning to release the custom analysis functionality tomorrow or Thursday whether or not it's fixed. But

[2015-04-28 23:50] skept commented on #80
Done.

[2015-04-29 02:39] tyarkoni opened #81 "Change memory mapped array sampling scheme to match NeuroVault"
Currently the memory mapped numpy arrays used in decoding sample ~20k random voxels from the whole brain. NeuroVault resamples images to isotropic 4 mm voxels, which gives ~30k voxels. It would probably speed up processing a bit to use the same scheme in Neurosynth, plus results might be slightly more representative using resampled voxels rather than random ones.

[2015-04-29 02:49] vsoch commented on #81
+1

[2015-04-29 02:49] vsoch commented on #81
priority:awesome

[2015-04-29 02:51] tyarkoni commented on #81
Well, realistically, this might take us from ~0.5s per decoding to ~0.3s, so I'm not sure it's worth upping the priority. But next time I'm mucking around with that part of the code, I'll add this. :)

[2015-04-29 02:54] vsoch commented on #81
The level of awesomeness is not impacted by being low priority! :O)

[2015-04-29 14:15] #70 closed

[2015-04-29 14:15] #79 closed

[2015-04-29 14:20] tyarkoni commented on #80
Reopening because the change fixed the buttons but seemed to have made it so the rows in the table are no longer highlighted properly (they still get highlighted when you click on a row manually).

[2015-04-29 15:06] skept opened #83 ""Custom" option not showing up under Meta-Analyses menu in production"
@tyarkoni Is the latest version running in production? I don't see the "Custom" option on http://neurosynth.org/ even when I'm logged in.

[2015-04-29 15:08] tyarkoni commented on #83
The actual URL works fine, I just disabled the link from the front page for a few days while we make sure everything runs and scales smoothly.

[2015-04-29 15:08] #83 closed

[2015-04-29 15:24] vsoch opened #84 "Test of beta analysis interface"
This is so great! And I even got the user name "vanessa." Here is some initial feedback, in case it helps. You likely have thought of all this already!

1. As a user, my first instinct when I come to the new analysis page is to search for studies (and of course I didn't read the instructions). It's a little confusing when the "search" for the selected studies doesn't immediately let me do any kind

[2015-04-29 15:59] asfox commented on #84
Tal & Skept,

This is amaaaaazing.

What is the most efficient way for me to report any bugs that I come
across?

For example...
I ran into a what I think is a bug on the custom analysis page. (
http://www.neurosynth.org/analyses/custom/ )
- I added more studies than I really wanted (think: pain), then I want to
remove a bunch by search (think: placebo). First, there is no button to
mass-remove. Y

[2015-04-29 16:02] tyarkoni commented on #84
There's a  button for "remove all filtered", but it's on the All Studies tab rather than Selected Studies tab, so that might be a little unintuitive. Thanks for flagging the other bugs. @skept, you should probably keep track of the feedback we're getting and then we can prioritize enhancements/fixes for the next release.

I hadn't thought about the possibility of uploading a file. That's easily do

[2015-04-29 16:03] tyarkoni commented on #84
Oh, and thanks for the feedback as well, @vsoch! Keep it coming!

[2015-04-29 16:04] tyarkoni commented on #84
Also, @skept, someone else just emailed me about the same issue with the removal button not working on pages past the first. Probably good to prioritize that fix when you get a chance. Will open a new issue for it.

[2015-04-29 16:06] tyarkoni opened #85 ""Remove study" button in custom analysis interface not working for pages past the first"
Several people are reporting that once you move past the first page of selected studies in the custom analysis interface, the "remove" button stops working.

[2015-04-29 20:12] skept commented on #84
Thanks for the feedback!

@vsoch I like the idea of making the "All Studies" tab the default when no studies have been selected. Regarding point 1, on the "All Studies" tab you can select/deselect individual studies by clicking on their corresponding row (anywhere except the title link). I agree having a checkbox on each row would be more intuitive - although it's a little more complicated to impl

[2015-04-29 20:15] vsoch commented on #84
Ah, I see. Clicking the row would work too, but there might be an instruction somewhere that we can do that?

[2015-04-29 20:27] #85 closed

[2015-04-29 20:33] skept opened #86 "Make "All Studies" tab the default when no studies have been selected"

[2015-04-29 22:07] tyarkoni commented on #85
Thanks for the quick fix; I've deployed the patch to the production server.

[2015-04-29 22:08] #78 closed

[2015-04-29 22:08] #77 closed

[2015-04-30 02:41] #86 closed

[2015-04-30 03:18] tyarkoni opened #87 "Some custom analyses display 0 studies"
Some custom analysis records have an n_studies value of 0. This appears to happen if the analysis is saved with 0 studies, and then later updated--the n_studies field isn't updated.

[2015-04-30 03:32] #84 closed

[2015-04-30 03:43] tyarkoni commented on #87
Fixed in 7405ff22ea256ad55f32bb7c6065134576ea644a.

[2015-04-30 03:43] #87 closed

[2015-05-01 23:51] skept opened #88 "Use a separate checkbox column to select/unselect studies instead of having clickable rows"
This would be purely a usability enhancement. Selecting/unselecting individual studies already works fine by clicking on the rows themselves. Setting this to low priority.

[2015-05-03 17:20] skept commented on #64
@tyarkoni See my commit message above. I'll wait until you deploy this to production. If everything's working on Chrome we can close it. If not, I'll have to look into it further.

[2015-05-04 21:22] skept commented on #67
@tyarkoni That's correct. Currently the user can't access anyone else's analyses without knowing the analysis ID.

Here's what I'm thinking of doing:

1. Add a boolean "make this analysis private" field to the custom analysis interface. This checkbox will be unchecked by default.
2. Create a new page listing all non-private custom analyses in a datatable, with hyperlinks to the existing results pa

[2015-05-04 21:23] tyarkoni commented on #67
Sounds good to me!

[2015-05-05 16:26] skept commented on #67
@tyarkoni I have an initial version of items 1 and 2 above working on the analyses branch. There's a new "Browse" option under the "Meta-analyses" menu. It's currently a static table but I'll add code to turn it into a searchable data table.

One current limitation is that if the analysis hasn't already been run visiting the result page leads to an IndexError:

[code]
The solution is to either not

[2015-05-05 16:37] tyarkoni commented on #67
Hmmm... good question. In theory, once an analysis has been saved and marked as public, there shouldn't be a reason not to show it. But it feels somehow wrong to allow a user to be the first to run/view an analysis someone else has created, and it probably makes sense not to display anything that the creator hasn't at least glanced at. So let's go with the second option for now. In practice I susp

[2015-05-05 16:38] tyarkoni commented on #67
Sorry, I meant the first option, not the second (i.e., hiding analyses that haven't been run yet).

[2015-05-05 17:02] skept commented on #67
@tyarkoni I took care of it but since I don't have my dev environment set up properly to run the analysis I haven't been able to test it thoroughly. Were you ever able to get a docker image working properly?

[2015-05-05 17:09] tyarkoni commented on #67
Haven't had time to work on #43, yet, unfortunately. Hopefully soon, but no guarantees. I'll definitely test to make sure it runs properly though. (You can also always test things out on the test server at test.neurosynth.org:5001. It doesn't sync automatically, but I just pulled the analysis branch, so you can at least verify that everything works right with the code you've already committed.)

[2015-05-05 17:27] skept commented on #67
@tyarkoni Ok, I'm getting Bad Gateway errors on the test server when I try visiting the browse page or the custom management interface. I'm suspecting it's a db migration issue. Did you try running a db upgrade on the test server?

[2015-05-05 20:25] tyarkoni commented on #67
Oh, good catch. Just upgraded it. Should be okay now I think.

[2015-05-06 00:38] skept commented on #67
@tyarkoni Ok, since items 1 and 2 are complete I think we can close this issue. I'll take care of item 3 as part of #65. Do you want to merge the above commit into master and push to production? Feel free to reopen if you think there's anything missing.

[2015-05-06 00:38] #67 closed

[2015-05-06 00:55] skept commented on #68
@tyarkoni Is there already an API route that handles the above queries? If so, can you point me to it? If not, I'd be happy to build both the API backend and the frontend. The only related code that I've been able to find is:

https://github.com/neurosynth/neurosynth/blob/master/neurosynth/base/lexparser.py

[2015-05-06 04:19] tyarkoni commented on #68
I added an API route and celery task for this in https://github.com/neurosynth/neurosynth-web/commit/cb23323575e0e1d3c9b2c64b6ecefc95f80ca6a3. To use it, pass a query string in as the expression argument in the studies API. For example:

neurosynth.org/api/studies/?expression="language"
neurosynth.org/api/studies/?expression="reward&emot*"
neurosynth.org/api/studies/?expression="emot*&~(posit*|neg

[2015-05-06 05:05] skept commented on #68
Ok, to properly pass a generic expression as part of the URL we should probably encode it to a safe URI string on the client side and decode it on the server side, e.g. something like:

In Javascript:
`encodeURIComponent(expression) `

In Python:
[code]

I can take care of this. It may need some tweaking to properly work with unicode characters. Checking for a blanket server error sounds reasonabl

[2015-05-06 19:18] tyarkoni opened #89 "Disable "run" button for analyses with 0 studies"
Currently it's possible to run a custom analysis that has zero studies, which causes the celery worker to crash. I'll fix this on the backend, but we should also probably disable the ability to run an analysis unless it has > 0 studies saved.

[2015-05-07 20:21] skept opened #90 "New custom analysis name doesn't actually get saved on the first "save as" attempt"

[2015-05-07 20:33] skept commented on #65
@tyarkoni I've made some good progress on this but it's a bit more complicated than I thought. Once we allow the user to load somebody else's custom analyses into the "analysis manager" interface (via the unique URL) we probably shouldn't show the "Save" and "Delete" buttons, and only allow "Save as". Does that sound reasonable?

[2015-05-07 20:35] skept commented on #65
And we should probably rename the "Run" button to "View results" on analyses that are owned by other users.

[2015-05-07 20:57] #90 closed

[2015-05-07 21:34] tyarkoni commented on #65
Yep, agreed on both counts!

[2015-05-08 03:51] #89 closed

[2015-05-08 03:56] skept commented on #65
@tyarkoni This should be [mostly] working now. I also added a view-only mode to the custom analysis manager interface, which is the default mode when the user loads a previously saved analysis. When you get a chance can you update the test server with the latest commit on the analyses branch?

[2015-05-08 05:32] tyarkoni commented on #65
Great! I just updated the test server.

[2015-05-14 03:10] skept commented on #68
@tyarkoni An alpha version of this is working (see the expr-search branch). It looks like the queries are case-sensitive. Is that intended or do we want to make them case insensitive?

[2015-05-14 03:34] tyarkoni commented on #68
Great! Will check it out soon (sorry I haven't had a chance to catch up--swamped with a grant that's due soon). We definitely want case-insensitive. Probably best to make that change on the back end, as it will also be an issue if we allow users to call the API directly later.

[2015-05-14 03:37] skept commented on #68
Ok, I'll take care of it on the backend. Btw, any reason you're running the expression search as a celery task and not as a regular blocking request?

[2015-05-14 03:42] tyarkoni commented on #68
Yes--most of those tasks depend on very large objects (e.g., a neurosynth Dataset instance) that can be kept in memory by the celery workers, but would take an inordinately long time to load at request time. Also, this way I can easily control the number of maximum simultaneous tasks (by setting the number of workers).

[2015-05-14 20:05] skept commented on #68
@tyarkoni That makes sense.

FYI, looks like there's a bug in the expression search logic. In your example above these two queries return the same number of results:

reward* &~ (emot* | negative)
reward*

These two queries also return the same number of results:

reward
reward & language

Will that be a quick fix for you? If not, I can look into it. Thought I'd check with you before spending too

[2015-05-14 20:15] tyarkoni commented on #68
Eep, that's not good. Thanks for catching this. I don't think you want to wade into the morass that is my ugly-ass parsing expression grammar, so probably best if I take a look. I suspect the problem actually lies in my back-end code, and not the Neurosynth code being called, because the latter has tests that cover that kind of logic. Will look into this right now...

[2015-05-14 20:54] tyarkoni commented on #68
Looks like it's a url encoding issue. The & in the query is getting processed as a separate argument. Probably we'll need to url-encode the string on the client side and url-decode it in the backend in the get_studies_list() method in the api/studies controller. Can you make those tweaks? Thanks!

[2015-05-14 21:25] skept commented on #68
You're right. Forgot about that! Just pushed the fix. Looks like it's working fine now.

Do you want to add any documentation for this before pushing it to production?

[2015-05-15 01:50] tyarkoni commented on #68
Hmm... yeah, I should probably write something. Let's hold off deploying it until I do that. I did have a look at the updates to the analyses branch from last week, and the interface looks great! I caught a minor bug though, so I'll open an issue for that before pushing to production. Also, I think the buttons could stand to be a bit bigger (at least the "edit" button--took me a while to find it).

[2015-05-15 01:53] tyarkoni commented on #68
Never mind, looks like it was a bug in the analyses branch that was fixed in expr-search. I think I'll just go ahead and deploy the expr-search branch now and add the doc later.

[2015-05-15 01:55] #68 closed

[2015-05-15 14:20] #64 closed

[2015-05-15 14:28] tyarkoni commented on #80
Had a chance to look at this? Still seems to be a problem. Only happens on the Locations page.

[2015-05-15 14:28] #80 closed

[2015-05-15 14:29] tyarkoni opened #92 "Clicking on "select all" on location page does nothing"
Per discussion in #80, when the "select all studies on this page" button is clicked on the studies tab in Locations, nothing happens. The other study tables on other pages all work fine.

[2015-05-15 14:46] skept commented on #65
@tyarkoni See the above commit. I added a button to the analysis results page to link back to the analysis in the custom analysis manager. That way users can make their own copy of the analysis if it looks interesting. I'm still no table to properly run analyses in my dev environment so I haven't been able to actually pull up a rendered version of this page to see if it looks correct. Can you try

[2015-05-15 14:50] skept commented on #92
@tyarkoni It looks like this only happens in the production server but not in my dev environment nor the test server. I was having a similar issue reproducing #80. I'm looking into it.

[2015-05-15 15:11] tyarkoni commented on #92
Oh, then I think I know what the issue might be. There's some weird problem where the minified CSS doesn't get recompiled properly by the asset pipeline, and I have to delete the old file manually to get it to update. Should figure out what's going on there. Will let you know if that doesn't solve it.

[2015-05-15 15:18] skept commented on #92
@tyarkoni I fixed another issue that was contributing to this too. Can you pull the latest on the analysis branch and see if it's working? Yes, please make sure the latest coffeescript code is getting picked up by the asset pipeline. The locations page is cached - I had to disable caching in my dev environment to get the javascript files to refresh.

[2015-05-18 15:20] tyarkoni commented on #92
Yep, works now--closing this!

[2015-05-18 15:20] #92 closed

[2015-05-18 15:25] tyarkoni opened #93 ""Select all studies" always creates a new analysis"
Not entirely sure how to handle this, but right now, if a user's on a page other than the custom analysis interface, and clicks the "select all studies on this page" button, a new analysis is always created. This isn't necessarily desirable, since it makes it impossible to combine studies selected using different criteria (e.g., all studies that activate within 8 mm of a particular locations, plus

[2015-05-18 15:31] tyarkoni commented on #93
One possibility I lean towards would be to just drop the selection interface everywhere else on the site except the custom analysis interface, and add the facility to search by location to the latter (since it's just a call to an API route that already exists). That's the only thing you can't currently do from the custom interface, I think. Let me mull it over...

[2015-05-20 22:43] skept commented on #93
@tyarkoni The current behavior is definitely wrong, because it starts a new headless (i.e. untitled) analysis but the selection doesn't actually show up in the custom analysis interface. I'll fix it so at least the selection in the location interface actually carries over to the custom analysis interface (as a new analysis).

Longer term, I think it makes sense to unify all of the different ways o

[2015-05-20 23:20] tyarkoni commented on #93
I like that, let's go with your proposal (when you next have time to work on it). The backend change will be super easy because the underlying Neurosynth code actually already allows multiple search criteria. Everything goes through a get_studies() call, so you can do something like:

dataset.get_studies(expression="language", peaks=[[0, 2, 0]], r=6)

...which would do exactly what your example do

[2015-05-24 11:19] skept commented on #93
Sounds good. I can care of both the front-end and backend changes.

[2015-05-25 23:45] chrisfilo opened #94 "Threshold slider for topic maps is misleading"
Neurosynth presents  thresholded (with FDR correction) reverse and forward inference maps, but the "thresholds" slider is by default set to 0. This gives an impression that the map is unthresholded. I recommend limiting the range of the slider on one side by the threshold used in the underlying map.

[2015-05-25 23:52] tyarkoni opened #95 "Update cached NeuroVault records when ID changes but image URL doesn't"
Currently, decoded images are cached in Neurosynth based on the URL of the remote image. Per discussion in https://github.com/neurosynth/neurosynth/issues/53, if the NeuroVault ID changes (but the URL of the image file remains the same), the decoder won't update. We should check the NV ID (and update if needed) before calling the decode_url() function.

[2015-05-26 02:32] chrisfilo opened #96 "Add ability to export coordinates in GingerALE format for terms, topics, and custom analyses"
This would help with comparisons and allowed users to take advantage of some algorithms not yet available in neurosynth. The format is simple and described here: http://www.brainmap.org/ale/manual.pdf

[2015-06-08 23:41] #43 closed

[2015-06-25 17:33] tyarkoni opened #97 ""try again" term search bar no longer works"
E.g.:

http://neurosynth.org/analyses/terms/speechify/

Autocomplete is broken. It still works on valid term pages, so this should be an easy fix.

[2015-06-25 17:52] #97 closed

[2015-07-14 18:11] tyarkoni commented on #9
I'm closing this as it's a bit of a silly issue. While we're nowhere near full coverage, #bd89d9e4be32 adds a few API tests that are pretty good at narrowing down potential problems--particularly in the location and decoder functionality. Still need to work towards full coverage of the API (to say nothing about models and UI).

[2015-07-14 18:11] #9 closed

[2015-07-14 18:14] chrisfilo commented on #9
Don't give up!

[2015-07-14 18:15] tyarkoni commented on #9
I'm not giving up! I'm just, uh, "recalibrating expectations".

[2015-08-13 18:25] tyarkoni opened #98 "Export studies in bibtex or other citation manager-compatible format"
On any table that lists studies, it would be useful to export a list of the studies in a format that citation managers can handle. Rather than generating this dynamically (which would require extending the Study model to include a bunch of new fields), probably the easiest way to implement this would be to add a 'citation' field in the table that contains a pre-formatted citation. Then clicking a

[2015-11-16 22:57] bcipolli opened #99 "Intermittent failures downloading Neurovault decoding API"
I am reimplementing the neurovault ICA analysis that @gaelvaroquax and @chrisfilo implemented for their fronteirs paper:
https://github.com/NeuroVault/neurovault_analysis

I have 1470 neurovault images that I'm downloading neurosynth decoding terms for (one image at a time). Every so often, I get an invalid JSON back from neurosynth. The error isn't exactly the same every time, but is always aroun

[2015-11-16 23:01] vsoch commented on #99
Are you running plot_ica.py?

[2015-11-16 23:04] bcipolli commented on #99
Nope, I'm running my ported version:
https://github.com/bcipolli/nilearn/blob/neurovault-downloader/examples/connectivity/plot_ica_neurovault.py

[2015-11-16 23:07] vsoch commented on #99
cool, I'll take a look and see if I can help.

[2015-11-16 23:08] vsoch commented on #99
are the maps you are using somewhere?

[2015-11-16 23:16] vsoch commented on #99
Hmm, it seems like there have been problems with the file fetcher from nilearn. Did you try just retrieving the json without using the fetcher?

[2015-11-16 23:22] vsoch commented on #99
Try like:

      from urllib2 import Request, urlopen
      import json

      def get_url(url):
          request = Request(url)
          response = urlopen(request)
          content = response.read()
          return json.loads(content.decode("utf-8"))

      url = "http://neurosynth.org/decode/data/?neurovault=444"
      mrjson = get_url(url)

[2015-11-17 00:09] bcipolli commented on #99
Not sure what this means; I'm not having any fetcher problems... So no, I didn't use anything but the fetcher code! That's the PR I'm working on, so ... if it's broken I shoulda fixed it :)

[2015-11-17 00:12] bcipolli commented on #99
If you add my `nilearn` and checkout the branch, it should run... but it'll download all the neurovault images first, which sucks.

If you want a minimum steps to reproduce, I can try to come up with it, but might have to wait until tomorrow.

[2015-11-17 00:12] vsoch commented on #99
Unless you can reproduce the errored json in a browser, my gut is saying that the issue has to do with reading the url, and not the content of the url itself.

[2015-11-17 00:13] vsoch commented on #99
A good start would be to add a print line to see the specific image triggering the error, and then inspect the json in the browser. If there is no error, it's not a fault of the neurosynth API, it's whatever method is retrieving it.

[2015-11-17 00:18] bcipolli commented on #99
Hmm, OK... the `nilearn` fetching API has been very well tested, so I can't imagine why it'd suddenly be failing on 1/100 JSON responses randomly. Anyway, it's not a very important issue--easy enough to work around.

That won't work, as the error isn't reproducible. If I run the same download command twice and the first one fails, the second one likely succeeds--even on the same image.

[2015-11-17 00:26] vsoch commented on #99
There are two possibilities here - either there is a bug in the page itself, or retrieving the page. It would be fairly simple to test the second by replacing the fetcher code with a simplified version to see if you get the same error. If not, it's the retrieval.  I would try it many times for the same query, and see if you get a consistent result (even plain text). If you consistently get differe

[2015-11-17 00:26] tyarkoni commented on #99
Haven't run into this issue before on the Neurosynth side, but stranger
things have happened... if you can reproduce it using just the urlib or
requests libraries, leery me know and I'll look into it.
On Nov 16, 2015 6:18 PM, "Ben Cipollini" <notifications@github.com> wrote:

[2015-11-17 00:31] vsoch commented on #99
My instinct is that you are trying to read the file before it's done writing. Instead of reading from the page directly, the fetcher is saving it first, and then loading the saved file. If you load the json by reading from the page, you will likely not have this error.

The simple function I gave you above - I just ran it 100 times, and I did not get any error with my json loading.

[2015-11-17 00:35] vsoch commented on #99
You could also try putting a second pause after the command to get the "elevations," before trying to read, and see if that works. If so, it is more evidence of an issue with the timing of reading/writing the files.

[2015-11-17 00:36] bcipolli commented on #99
k, will let you know, thanks!

[2015-11-17 00:38] vsoch commented on #99
cool! sounds good :)

[2015-11-17 00:44] tyarkoni commented on #99
Yeah, this sounds right. The nilearn lib is probably not waiting for the
file handle to close on write before reading from it again. Sleeping for a
bit will usually not fix this if the code is single threaded; I suggest
using the requests lib like Vanessa said.
On Nov 16, 2015 18:35, "Assenav Sochat" <notifications@github.com> wrote:

[2015-11-17 01:10] tyarkoni commented on #99
Closing the issue, but please re-open if it turns out to be a Neurosynth issue.

[2015-11-17 01:10] #99 closed

[2015-11-17 01:13] tyarkoni commented on #99
By the way, the old API you're calling is deprecated. You can now use the better-documented swaggerified API:

http://neurosynth.org/api/v2/

E.g.,

http://neurosynth.org/api/v2/decode/?neurovault=309

[2015-11-17 01:15] tyarkoni commented on #99
It returns a different, more compact JSON representation, so while you'll need to rewrite your code to handle the new results, it's conceivable you won't run into the same issue any more.

[2015-12-04 15:03] tyarkoni opened #100 "Show non-significant z-values in location view"
Terms with non-significant z-scores are currently zeroed out. They shouldn't be.

[2016-04-12 18:30] adelavega opened #101 "Incorrect default sorting for coordinate associations"
When you click on a location, ask "what's here" and go to "associations", they are incorrectly sorted when you move on the second page. On the first page, they are sorted by posterior probability, but on the second page they are sorted alphabetically although it says its sorted by posterior probability. When you re-sort, then the 2nd page works fine.

Default second page:
![image](https://cloud.gi

[2016-04-12 18:30] adelavega commented on #101
# @

[2016-06-28 10:11] tyarkoni opened #102 "Simplify gene expression map requests"
Simplify the process for requesting nifti gene expression volumes by symbol ID. I.e., instead of making two calls to the API (one for the gene metadata, one for the actual image), add support for directly returning the image.

[2016-10-04 14:26] 62442katieb commented on #51
I came across the same problem. It looked like a template issue; we solved it by transforming the ALE maps to match the MNI152 2mm template. I believe GingerALE uses the Colin27 MNI template, which may have caused the issue in the first place because its dimensions are a little different. Hope this helps!

[2016-12-08 04:51] arielletambini opened #103 "broken link from neurosynth to neurovault"
It appears that the link from a neurosynth decoding analysis back to an original map in neurovault is broken (at least in this one case).

For example, from here: http://neurosynth.org/decode/?neurovault=JOYXPMRX-26012

when I click on the link which should go back to the original neurovault image, the link is incorrect. It currently goes to: http://neurovault.org/images/JOYXPMRX-26012 (which does

[2016-12-08 05:00] vsoch commented on #103
Is this a previously private collection? If the link being sent is a random mix of characters / numbers, my first guess is that it might be a previously private and now public, in which case (the neurosynth default) of going back to `neurovault.org/images/{{id}}` doesn't work. @tyarkoni I think you would want to generate that url custom based on its format with a regular expression, either just an

[2016-12-08 05:07] vsoch commented on #103
dun dun!! [Here is the booger](https://github.com/neurosynth/neurosynth-web/blob/e1c6d9e1e203edc6d91ed7c010aa74dd17cdb3c6/nsweb/templates/decode/show.html.slim#L11)!

[2016-12-08 23:38] #101 closed

[2017-03-05 10:32] janfreyberg commented on #50
It would be great if this could be added to the FAQs as well, or as a link in the map interface?

[2018-03-02 12:19] ZHANGneuro opened #105 "cannot open the website"
Dear,

I try to open it and it does not work any more for this url  neurosynth.org

could you fix it please, Thanks!

bo

[2018-03-02 20:56] tyarkoni commented on #105
There was a hardware issue that's now resolved. The site is monitored for outages 24/7, and I get email notifications, so it's not necessary to open issues here for downtime. But thanks!

[2018-03-02 20:56] #105 closed

[2018-07-05 15:19] tyarkoni opened #106 "Custom meta-analyses break when name matches an existing term"
See [this tweet](https://twitter.com/xiangzhenkong/status/1014886852476768257).

[2018-07-17 16:25] #36 closed

[2018-07-17 16:25] #34 closed

[2018-07-17 16:41] tyarkoni commented on #47
Closing in favor of eventual brainspell-neo/metacurious integration (which will likely be a while).

[2018-07-17 16:41] #47 closed

[2018-07-17 20:52] #42 closed

[2018-07-17 20:52] #103 closed

[2018-07-17 20:52] #44 closed

[2018-08-04 14:03] vsoch opened #110 "bring back geocities"
![](http://www.wonder-tonic.com/geocitiesizer/images/man-farting.gif)

I was moved by an external force to post this! *pffft

[2018-08-14 18:36] tyarkoni opened #112 "Fix swagger docs and add alias for v2 API"
Following the reboot, the swagger API docs no longer work, and the `v2` route is broken. Fix the former and add an alias for the latter. See neurosynth/neurosynth#80 for discussion.

[2018-08-17 16:44] #112 closed

[2018-08-17 17:12] tyarkoni commented on #110
 ![](https://thinker.education/experience/wp-content/uploads/2013/09/skeptical-baby.jpg)

[2018-08-17 17:12] #110 closed

[2018-09-04 06:55] tyarkoni opened #114 "Restore unthresholded link"
Before the latest rewrite, it was possible to download unthresholded maps by going to, e.g., http://neurosynth.org/analyses/terms/emotion/images/reverse?unthresholded. This functionality should be restored.

[2018-09-12 03:53] MetaD opened #115 "Missing terms?"
Hello!
We were able to get the meta-analysis for the term "self" before the website update, but now there is no meta-analysis for this term when searching on http://neurosynth.org/analyses/terms/ . But if I do `dataset.get_studies(features='self')` with the Python package, the number of studies returned from this function remains same before and after the Neurosynth update. Was this term taken dow

[2018-09-12 10:33] tyarkoni commented on #115
Looks like I accidentally left `self` out of the latest dataset release. I'll bring it back in the next one, but it might take a while. Sorry about that! In the meantime, you can still find the last release on the [old website](http://old.neurosynth.org).

[2018-09-12 18:16] MetaD commented on #115
Thanks!

[2018-11-09 15:52] mwegrzyn opened #116 "Posterior Prob. equal z-scores for some terms"
Hello,

on the current version of neurosynth.org, when using the "Associations" function to view tables, some terms have posterior probabilities > 1 (and in those cases, they always equal the z-scores). For example, at x=-16 y=-64 z=+62 the term "spl" has a posterior probability of 6.48 and the term "goal" has a p.p. of 5.7.
This is also true at other locations (e.g -44 18 20). The term "fear" sho

[2018-11-09 16:46] mwegrzyn commented on #116
Hi Tal,

thank you very much for your reply - and for all the work you put into neurosynth.

Best,
Martin

[2019-05-29 21:23] martahedl opened #117 "Generation of gene expression maps"
Hi,
I'd be interested to know how exactly the gene expression maps were generated based on the Allen Atlas. The way the meta-analyses maps are computed is explained pretty well in the Nature Methods paper; however I have trouble to interpret the gene expression maps. For example, I'd like to know what the intensity values mean. In the meta-analyses maps, these are mostly z-values. However, what ar

[2020-06-30 18:54] joshita89 opened #121 "Decoder Copycsvxls option not available"
The Copycsvxls option is not showing up in the Decoder tab

[2020-07-28 09:48] ballarinit opened #122 "Connectivity maps"
Hi, is there a way to acccess the full set of functional connectivity maps used in neurosynth-web? Thank you

[2020-07-28 21:05] tyarkoni commented on #122
Unfortunately, no. You can contact Thomas Yeo (who provided them originally) and see if they're available somewhere else. If you know somewhere I could dump 300 GB of images that's publicly accessible and free, I'm happy to try to package them up and put them there, though I can't promise I'll have the time to do it in the near future.

[2020-09-02 08:36] buccimtpc opened #123 "Website down?"
I cannot access www.neurosynth.org with GChrome.

"Internal Server Error".

Is it my problem?

Thanks
Marco

[2020-09-02 12:55] tyarkoni commented on #123
Should be back up now.

[2020-09-02 12:55] #123 closed

[2020-10-01 12:17] mquinci opened #124 "Associations table not loading"
I have been using your "Associations with meta-analysis maps" table under Locations for some analyses. Over the last three days, the table does not load when I input a coordinate (though the "studies reporting activation" table does load). Could you please advise?

Thank you,
Milena

[2020-12-07 20:13] tyarkoni commented on #114
This works now; e.g.,  https://neurosynth.org/api/analyses/terms/reward?unthresholded

[2020-12-07 20:13] #114 closed

[2021-03-09 16:59] PAmcconnell commented on #124
@tyarkoni not sure if this thread pertains to the website but this issue still stands. All of the coordinate based searches work except for the "associations" table. It freezes while loading coordinate location meta results and returns to the main home screen. Is the website no longer being maintained?  Cheers,
Patrick

[2021-03-09 17:08] PAmcconnell commented on #124
@mquinci have you discovered anything re: this issue? Could it be a java thing?

[2021-03-27 15:11] tyarkoni commented on #124
Should be fixed now.

[2021-03-27 15:11] #124 closed

[2021-06-24 15:49] adelavega opened #125 "archive term and topic meta-analyses to neurovault"
@tsalo mentioned that people are often requesting for neurosynth maps to be on neurovault.

In the long run, this will be the case w/ the neurosynth 2.0 platform.

however, it may still be useful to archive the current maps in neurovault for posterity

[2021-06-24 15:49] adelavega commented on #125
I can take care of this (if I remember). @tsalo feel free to poke me on this down the road if it never gets done.

[2022-10-18 19:40] katefaraj28 opened #126 "Neurosynth is not allowing me to register"
I would like to select certain studies for my meta-analysis, and neurosynth has highlighted to do so I need to log in, which means I need to register first.

https://neurosynth.org/user/register

When I do so, and I tried all the emails I have including my friends, and press REGISTER. The page does not take me to the following page. I am unsure why this is happening. If I need to be registered in